.requirement-container {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%, 
      rgba(0,0,0,1) 100%
  ),
    url("./images/requirements.png");
  width: 100%;
  height: 150vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flex-container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.requirement {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: left;
  text-align: left;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.requirement > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.requirement-heading {
  margin-bottom: 24px;
  font-size: 60px;
}

.requirement-text{
  margin-bottom: 24px;
  font-size: 20px;
}


.table-bordered {
  
  margin-top: 100px;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  
}

.table-bordered td{
  padding: 10px;
  
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  
}




.table-bordered h3 {
  font-size: 20px;
  color: #ffb727;
  margin-bottom: 10px;
}
.table-bordered h4 {
  font-size: 16px;
  font-weight: 100;
  color: white;
  
}