
h1,h2,h3,h4,h5,h6,p { margin: 0; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.contact {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%,  
      rgba(0,0,0,1) 100%
  ),
    url("./components/images/requirements.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  color: #fff;
  font-size: 100px;
}


.about {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%,  
      rgba(0,0,0,1) 100%
  ),
    url("./components/images/newsletter.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  color: #fff;
  font-size: 100px;
}

.work {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%,  
      rgba(0,0,0,1) 100%
  ),
    url("./components/images/the-games-bg.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  color: #fff;
  font-size: 100px;
}